*~
\#*\#
.#*
.DS_Store
.bzr
.hg
.svn
Icon?
REVISION
TAGS
TAGS*
nohup.out

.project
.pydevproject
.settings
.tasks-cache

/**/*DONTVERSION*
/**/cache/*
/**/log/*
/**/tmp/*/*

/config/database.yml
/config/development.sphinx.conf
/config/*private*.yaml
/public/ac/*
/coverage
/vendor/src/**/*

/db/*.sqlite*
/db/sphinx

